body {
    margin: 0px;
    padding: 0px;
}

main {
    width: 80%;
    margin: auto;
}

.presentation_visuelle {
    width: 100%;
    margin-top: 5%;
    position:relative;
}

.presentation_visuelle .wallpaper {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: 70% 16%;
    border:1px solid black;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
 box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

h1{
    text-align:center;
    font-size:50px;
}

li{
    list-style-type:disc;
    line-height:35px;
    font-size:20px;
}

li:hover{
    color:red;
}
li a{
    color:inherit;
    text-decoration:none;
}

.dates{
    background-color: rgba(0,0,0,.1);
    padding:10px;
    position:relative;
   width:30%;
   min-width:287px;
   display:flex;
   border:1px solid black;
   -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}

.casque{
    position:absolute;
    width:190px;
    height:190px;
    top:10%;
    right:0%;
}



@media screen and (max-width:1024px){

}

@media screen and (max-width:480px){
main{
    width:99%;
    margin:auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}


}